steps: [
  type: "file"
  url: "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"
  dest: "vendor/js/angular.js"
]
message: """
         Remember to `npm install --save-dev lineman-angular` in order for Lineman to
         precompile your Angular templates (stored in "app/templates") and safely minify
         your production compiled JavaScript.

         Note that this is just the base AngularJS - no router is included for instance.
         You might want to browse https://code.angularjs.org/1.3.0/ for all the optional
         parts of Angular. You could also visit http://angular-ui.github.io/ for some of
         the most popular third-party libraries.
         """
