steps: [
  type: "archive"
  url: "https://github.com/FortAwesome/Font-Awesome/archive/v4.3.0.zip"
  stripRootDir: true
  files: [
    {
      src: [
        "css/font-awesome.css"
      ]
      dest: "vendor/css"
    }, {
      src: "fonts"
      dest: "vendor/static/fonts"
    }
  ]
]
